{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <h1>گذرواژه خود را بازنشانی کنید</h1>
    <p class="date" style="text-align:right !important;direction:rtl !important">پیوند تنظیم مجدد رمز عبور نامعتبر بود ، احتمالاً به این دلیل است که دارای آن است</p>
  <p class="date" style="text-align:right !important;direction:rtl !important">ما دستورالعمل هایی را برای تنظیم رمز عبور خود از طریق ایمیل ارسال کرده ایم.</p>
  <p class="date" style="text-align:right !important;direction:rtl !important">اگر ایمیلی دریافت نکردید ، لطفاً آدرسی را که با آن ثبت نام کرده اید وارد کنید.</p>
{% endblock %}