{% extends "blog/base.html" %}
{% block title %}لاراول لرن {% endblock %}
{% block content %}

{% for post in posts %}
<div class="col-md-6 col-lg-4 mb-5" style="border: solid 2px #ccc;border-radius: 5px;text-align:right;direction:rtl">

<h4 style="text-align:right">
    <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
    </a>
</h4>
<p class="date" style="text-align:right;direction:rtl color:#ccc">
    منتشر شده در: {{ post.publish }} <br> توسط: {{ post.author }}
</p><br>
<h6 style="text-align:right"> مشاهده: <b><i> {{post.visits}} </i></b></h6>

<p style="text-align:right;direction:rtl">{{ post.body|truncatewords:30|linebreaks }}</p>
</div>
{% endfor %}
{% include "pagination.html" with page=posts %}
{% endblock %}