{% extends "blog/base.html" %}
<div class="row">
{% block title %}اشتراک در یک پست {% endblock %}
{% block content %}
{% if sent %}
<style>.row{display: block !important;}</style>
<div  class="row"><h1>ایمیل با موفقیت ارسال شد</h1></div>
<div  class="row"><p>
    "{{ post.title }}"با موفقیت ارسال شد به  {{ form.cleaned_data.to }}.
</p>
</div>
{% else %}

<h1>اشتراک "{{ post.title }}" با ایمیل</h1>
</div>
<div class="row" style="direction: rtl;">
<form method="post">
    {% comment %} {{ form.as_p }} {% endcomment %}
    <p>
نام ارسال کننده :
    {{ form.name}}
    </p>
    <p>
    ایمیل :
    {{ form.email}}
    </p>
    <p>
    شخص دریافت کننده :
    {{ form.to}}
    </p>
    <p>
    توضیحات :
    {{ form.comments}}
</p>

    {% csrf_token %}
    <input type="submit" value="ارسال ایمیل">
</form>
</div>
{% endif %}
{% endblock %}